# ─────────────────────────────────────────
# BACKEND — create backend/.env with these
# ─────────────────────────────────────────
PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/
MONGODB_URI_DOCKER=mongodb://mongodb:27017/leadflow
MONGODB_URI_LOCAL_DOCKER=mongodb://localhost:27017/leadflow
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# ─────────────────────────────────────────
# FRONTEND — create frontend/.env with these
# ─────────────────────────────────────────
VITE_API_BASE_URL=http://localhost:8000/api/v1